<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %} Default {% endblock title %}</title>
    {% block style %}<link rel="stylesheet" type="text/css" href="{% static 'website/css/base.css' %}">{% endblock style %}
</head>

<body>
    <h1 class="header">{% block header %}{% endblock header %}</h1>
    <div class="login_box">{% block login_form %}

        <form id="login_button" action="{% url 'index' %}" method="POST" >
            {{ logging }}
            {% csrf_token %}
        <button form="login_button" type="submit" class="common_button">ВХОД</button>
        {% if messages %}
            {% for message in messages %}
                <br><p class="{{ message.tags }}" >{{ message }}</p>
            {% endfor %}
        {% endif %}
        </form>
        <a class="reg_link" href="{% url 'new_user' %}">РЕГИСТРАЦИЯ</a>
    {% endblock login_form %}</div>

    <div class="logout_box">{% block logout_form %}
        <span style="margin-bottom: 10px; font-family: cursive; font-size: 14pt; text-align: center;">
        <b>Выйти из аккаунта<br>Сменить пользователя</b> </span>
        <form id="logout_button" action="{% url 'logged_out' 'out' %}" method="POST">{% csrf_token %}
            <button form="logout_button" type="submit" class="common_button">Выйти</button>
        </form>
    {% endblock logout_form %}</div>

    <div class="content">{% block content %} ТЕСТ {% endblock content %}</div>
</body>
</html>