{% extends "base.html" %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block header %} Добро пожаловать, {{ username }} {% endblock header %}
{% block login_form %}{% endblock login_form %}
{% block registration %}{% endblock registration %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'authentication/css/login.css' %}">{% endblock style %}
{% block content %}
  <ul>
    <li>Статьи</li>
    <li>Полезные ссылки</li>
    <li>Интерактивные задачи</li>
    <li>Проверка знаний</li>
  </ul>
{% endblock content %}

